#searchSection input {
    background:#eee;
    padding:1.5rem;
    width:85%;
    margin:2rem;
    margin-top:0;
    border:none;
    font-size:2em;
    color:#333;
}

.cityTitle h1 {
    font-weight:300;
    text-transform: uppercase;
}

.title {
    font-weight:300;
}