.circleContainer {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border:2px solid #5BD3C0;
    margin:1rem;
    text-align:center;
    margin-left:27%;
}

.circleContents {
    padding-top:35px;
    font-weight:300;
}